<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{url_for('article_list')}}">결혼하고싶어요 by team 대결</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="{{url_for('article_list')}}">서비스 설명</a></li>
			<li><a href="{{url_for('article_create')}}">로그인</a></li>
			<li><a href="{{url_for('article_create')}}">회원가입</a></li>
			<li><a href="{{url_for('article_create')}}">학생 메뉴</a></li>
			<li><a href="{{url_for('article_create')}}">커플 메뉴</a></li>
		</ul>
	</div>
</nav>